{% extends 'base.html' %}
{% block content %}

<br>

<div class="container">
    {% if object %}
        <h3>Edit List Name</h3>
    {% else %}
        <h3>Create New List</h3>
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        <table class="add-edit form-control mb-3 col-xs-2">
            <div class="mb-3 create">
                {{ form.as_table }}
            </div>
        </table>
        <input type="submit" value="Submit" class="add-edit btn btn-info text-light">
    </form>
</div>


{% endblock %}