{% extends 'base.html' %}
{% block content %}

<h1>{{ list.name }}</h1>
<br>

<div class="container">
    {% for games in list.game.all %}
        {{ games.title }}
        {{ games.release_date }}
        {{ games.screenshot_url }}
    
        {% if list.user == request.user %}
      <a href="{% url 'unassoc_game' list.id games.id %}">remove</a><br>
        {% endif %}
       
    
    {% endfor %}
     <br> 
     {% if list.user == request.user %}
     <a href="{% url 'game_genres' list.id %}">add game</a>
     {% endif %}

    <br>
</div>

{% endblock %}