{% extends 'base.html' %}
{% block content %}

<div class="container">
  <br>
  <h3>Sign Up</h3>
  {% if error_message %}
    <h3 class="red-text">{{ error_message }}</h3>
  {% endif %}
  <form action="" method="POST">
      {% csrf_token %}
      <table class="signup add-edit form-control mb-4">
          <div class="mb-3 create">
              {{ form.as_table }}
          </div>
      </table>
      <input type="submit" value="Log In" class="add-edit btn btn-primary text-light">
  </form>
</div>

{% endblock %}