{% extends 'base.html' %}
{% block content %}

<br>

{{ game.name }} <br><br>
Release Date: {{ release }} <br><br>
{{ description }} <br> <br>

<form action="" method="POST">
    {% csrf_token %}
    <input type="hidden" name="title" value="{{ game.name }}">
    <input type="hidden" name="release_date" value="{{ release }}">
    <input type="hidden" name="description" value="{{ description }}">
    <input type="submit" value="Add to List">
</form>


<img src="{{ game.background_image_additional }}" alt="">



{% endblock %}