{% extends 'base.html' %}
{% block content %}
List ID: {{ list_id }}

<br>
<div class="card-columns">
{% for genre in genres %}
<div class="card" style="width: 18rem;">
    <a href="{% url 'genre_index' list_id genre.slug %}">
        <img class="card-img-top" src="{{ genre.image_background }}" alt="">
    </a>
    <div class="card-body">
        <h5 class="card-title"> {{ genre.name }} </h5>
        <p class="card-text">{{ genre.id }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ genre.slug }}</li>
      <li class="list-group-item">{{ genre.games_count }}</li>
      <li class="list-group-item">{{ genre.games }}</li>
    </ul>
  </div>
{% endfor %}
</div>

{% endblock %}

