{% extends 'base.html' %}
{% block content %}

Genre we are looking at:
{{ genre|title }}

<div class="card-columns container">
    {% for game in games %}
    
    <div class="card" style="width: 18rem;">
      <a href="{% url 'game_index' list_id game.id %}">
            <img class="card-img-top" src="{{ game.background_image }}" alt="Card image cap">
        </a>
        <div class="card-body">
          <h6 class="card-title">{{ game.name }}</h6>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ game.released }}</li>
          <li class="list-group-item"></li>
        </ul>
      </div>
    
    {% endfor %}
    
    </div>

{% endblock %}
<!-- 
<a href="{% url 'game_index' list_id game.id %}">
    <img src="{{ game.background_image }}" alt="">
</a>
{{ game.released }}
{{ game.name }} 
{{ game.id }} <br> <br> -->