{% extends 'base.html' %}
{% block content %}

<h3>
    search: {{ search }}
</h3>

<div class="card-columns container">
    {% for game in games %}
    
    <div class="card m-3" style="width: 18rem;">
      <a href="{% url 'game_index' list_id game.id %}">
            <img class="card-img-top" src="{{ game.background_image }}" alt="Card image cap">
        </a>
        <div class="card-body">
          <h6 class="card-title">{{ game.name }}</h6>
        </div>
      </div>
    
    {% endfor %}
    
</div>

    

{% endblock %}